ProjectTeoriaAgil/businessCatalog/Data/BoDadosProcesso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.6.0.15.53" build="15.53" fullName="Data.BoDadosProcesso" modifiers="0"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/Data/BoDadosProcesso" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/Data/BoDadosProcesso"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="BoDadosProcessoType">
        <xs:sequence>
            <xs:element name="nomeCliente" nillable="true" type="xs:string"/>
            <xs:element name="cpfCliente" nillable="true" type="xs:string"/>
            <xs:element name="valorSolicitado" nillable="true" type="xs:string"/>
            <xs:element name="statusSPC" nillable="true" type="xs:boolean"/>
            <xs:element name="textoRejeicao" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="BoDadosProcesso" type="BoDadosProcessoType"/>
</xs:schema>
